<div class="panel panel-default devise-bs col-sm-5 col-md-offset-3">
    <div class="panel-heading">
        <h4>Free Project with Devise and OmniAuth</h4>
    </div>
    <span>
        Pilot project for web application deployments with login + facebook login with bootstrap .
    </span>
</div>